.navbar {
    background-color: brown;
    padding: 15px 0px !important;
}

.nav-link {
    color: white !important;
    font-size: 22px;
}

.nav-link:hover {
    color: rgb(223, 100, 100) !important;
}

.divisor {
    width: 1px !important;
    background: white !important;
    margin: 12px 15px !important;
}

.toggle-icon {
    border-color: white !important;
}